<div class="side-bar-header">
  <div class="name">
    <%= link_to current_user.name,edit_user_path(current_user) %>
  </div>
  <div class="new-chat">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="form">
  <p class="img"><%= image_tag 'S__79331341.jpg', width: 200, height: 100%></p>
  <% current_user.rooms.each do |room|%>
    <div class="room">
      <div class="room-name">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>