<div class="side-bar-header">
  <div class="name">
    <%= link_to current_user.name,edit_user_path(current_user) %>
  </div>
  <div class="new-chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="form">
  <div class="room">
    <div class="room-name">
      <a href="#">tech1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">tech2</a>
    </div>
  </div>
</div>