.wrapper {
  display: flex;
}

.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}
.side-bar-header {
  height: 100px;
  padding: 0 20px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.new-chat a{
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.form {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px ;
}
.room {
  padding: 20px 0 40px 0;
}

.room-name a{
  color: white;
  text-decoration: none;
}

.main-chat {
  /* height: 100vh; */
  width: calc(100vw - 300px);
  background-color: #ffffff;
}
.main-header {
  height: 100px;
  padding: 0 40px ;
  display: flex;
  justify-content: space-between;
}
.left-header {
}
.chat-name {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}
.right-header {
  margin-top: 40px;
}
.end-chat a{
  color: darkred;
  text-decoration: none;
  border: 1px solid darkred;
  padding: 20px;
}

.main {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0 40px ;
  overflow: scroll;
}
.user-name-date {
  display: flex;
  margin: 10px 0 10px 0;
}
.user-name {
  color: #434A54;
  font-size: 16px;
}
.date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}
.message {
  margin-bottom: 40px;
  color: #434A54;
  font-size: 14px;
}
.main-footer {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px ;
  display: flex;
}
.messages-form {
  background-color:white;
  display: flex;
  width: 100%;
}
.form-message {
  height: 50px;
  width: 100%;
  margin-right: 15px;
  padding-left: 10px;
  border: none;
}
.form-submit {
  padding: 0px 20px;
  font-size: 16px;
  color: white;
  background-color: #38AEF0;
  border: none;
  height: 50px;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.hidden {
  display: none;
}